@value subColor,mainColor,pColor,font_white from "../../common/styles.css";

.container {
  flex: 1 1 25%;
  padding: 3rem 1rem;
  text-align: center;
  border-right: 4px solid subColor;
}

.dayNumber {
  padding: 2rem 0;
  font-size: 3rem;
}
.itemContainer {
  padding: 1rem 0;
}

.btn {
  border: none;
  padding: 0.3rem 1rem;
  outline: none;
  color: white;
  background-color: rgb(253, 197, 93);
  cursor: pointer;
}
.h3 {
  margin-bottom: 1rem;
}
