@value subColor,mainColor,pColor,font_white from "../../common/styles.css";

.container {
  flex: 1 1 40%;
  padding: 3rem 1rem;
  text-align: center;
}

.dayNumber {
  padding: 2rem 0;
  font-size: 3rem;
}
.itemContainer {
  padding: 1rem 0;
}
.link {
  display: block;
  color: font_white;
  margin-top: 1rem;
  padding: 0.2rem 0;
  background-color: mainColor;
  text-decoration: none;
}
