@value mainColor,subColor from "../../common/styles.css";

.date {
  width: 14.2857%;
  margin: 0.7rem 0;
  text-align: center;
}

.title {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}
.cal {
  font-size: 0.6rem;
}
.today {
  color: #03bdb0;
}
