@value mainColor,subColor from "../../common/styles.css";

.date {
  width: 14.2857%;
  margin: 0.7rem 0;
  text-align: center;
  height: 3rem;
}

.title {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}
.cal {
  font-size: 0.6rem;
}
.today {
  color: rgb(253, 197, 93);
}
.clickDate {
  display: none;
}
