.container {
  flex: 1 1 75%;
  padding: 1rem;
}
.title {
  text-align: center;
  padding: 0.7rem;
  font-size: 1.1rem;
}

.dayContainer {
  display: flex;
  padding: 1rem 0;
  width: 100%;
}
.dayContainer li {
  width: 14.2857%;
  text-align: center;
}
.makeDateContainer {
  display: flex;
  flex-wrap: wrap;
}

.title svg {
  margin: 0 2rem;
  cursor: pointer;
}

.calendarContainer {
  display: flex;
}
